body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-karantina: Karantina;
    --font-italianno: Italianno;
    --font-jim-nightshade: "Jim Nightshade";
    --font-lemon: Lemon;
  
    /* font sizes */
    --font-size-29xl: 48px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gainsboro-100: #d9d9d9;
  
    /* Border radiuses */
    --br-lg: 18px;
    --br-23xl: 42px;
  }
  